.sidebar-section { 
  display: flex;
  background-color: black;
}
.sidebar {
  position: fixed;
  height: 100vh;
  background-color: #1e1e2c;
  width: 5rem;
  
}
.sidebar-toggle {  
  width: 10rem;
}
.sidebare-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebare-toggle-icons p {
  background-color: #f29f67;
  color: white;
  margin-top: .5rem;
  height: 2em;
}

/* //mobile */

@media(max-width:600px){
.sidebar{
  display: none;
}
}